<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css">
    <title>YT Downloader</title>
  </head>
  <body>
    <form action="{% url 'download' %}" method="post">
      <div class="container">
        <h3>YT video downloader</h3>
        {% csrf_token %}
        <input
          type="text"
          name="video_link"
          placeholder="Enter or paste video link"
        />
      </div>
      <button type="submit" id="download">Download</button>
    </form>
  </body>
</html>
